spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: AltiusV3
      auto-index-creation: true

  datasource:
    url: jdbc:mysql://localhost:3306/AltiusV3
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true